<div class="product-card">
  <a href="{{ product.url }}">
    <img
      width="500px"
      height="500px"
      src="{{ product.featured_image | image_url: 'medium' }}"
      alt="{{ product.title }}"
    >
    <h3>{{ product.title }}</h3>
    <p>{{ product.price | money }}</p>
  </a>
</div>
